body{
    background-color: rgb(223, 223, 209);
}

/* card */
card>img {
    width: 100%;
}

#card {
    width: 1000%;
}

.card {
    border: 0px;

}

.card, .card-img,
.card-img-top {
    border-radius: 0;
}

.card-text{
    color: rgba(116,111,104,255) ;
}

.row{
    gu: 0rem;
}